<h1>Sign up for BloggaVerse</h1>

<%= render 'shared/errors', obj: @user %>

<form action="<%= users_path %>" method="POST">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

  <label>Username</label>
  <input type="text" name="user[username]" />

  <label>Email</label>
  <input type="email" name="user[email]" />

  <label>Password</label>
  <input type="password" name="user[password]" />

  <input type="submit" value="Sign Up" />
</form>

<p>
  [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
</p>
